@import "variables.less";

form{
    padding: 0 20px;
    @media(min-width: @tablet-width){
        padding: 0 60px;
    }
    @media(min-width: @desktop-width){
        padding: 0 120px;
    }
}
.form-header__text {
    @media(min-width: @desktop-width){
width: 440px;
    
    margin: 0 auto;
    }
    
}

.form-item {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    padding: 14px 0;
}
.form__person-name {
    grid-area: name;
    padding: 0;
    margin-bottom: 25px;

    @media(min-width: @tablet-width) {
        margin-top: 21px;
        margin-left: 60px;
    }
}

.form__contacts{
   
    grid-area: contacts;
    padding: 0;
    margin: 0;
}

.form__grade {
    grid-area: grade;
    display: block;
    margin: 20px 0;
    padding: 0;

    @media (min-width: @tablet-width) {
        border-right: 2px solid @formgrey;
        
    }
}
.form__checkbox{
    
    grid-area: checkbox;
}

.review{
   padding: 0;
    grid-area: review;
    margin-bottom: 50px;
}

.form-container {
    background: @blue url("../images/back-desktop.jpg.JPG") no-repeat 40% 80%;
    width: 100%;
    height: 160px;

    @media(min-width: @tablet-width){
        height: 290px;
    }
    @media(min-width: @desktop-width){
        height: 300px;
    }
}

.second-logo {
    width: 230px;
    height: 40px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media(min-width: @tablet-width){
        width: 457px;
        height: 79px;
    }
}
ul {
    list-style: none;
}

@media (min-width: @tablet-width){
    .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:  "grade name"
                              "contacts contacts"
                              "checkbox checkbox"      
                              "review review";
            

    }
}
.reviews__item, .form-header, .reviews__wrapper, fieldset:not(.review) {
    border-bottom: 2px solid #E5E5E5;

    @media (min-width: @tablet-width){
        border-bottom: none;
    }
}

.checkbox-list {
    padding: 0;

    @media(min-width: @tablet-width) {
        display: grid;
        grid-template-rows: 90px 90px;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
    }

    @media(min-width: @desktop-width) {
        display: flex;
        justify-content: space-around;
    }
}
.field-group__contacts {
    flex-direction: column;
    position: relative;


    @media (min-width: @tablet-width) {
    }

    @media(min-width: @desktop-width) {
        flex-direction: row;
    }
}
.field-form {
    display: block;
    background-color: @formgrey;
    border: none;
    line-height: 26px;

    &:hover {
        background-color: #E5E5E5;
    }

    &:focus-visible {
        background: #FFFFFF;
        outline: 4px solid #E5E5E5;
        
        outline-offset: -4px;
    }
}




.field-form--name {
    padding: 18px 13.1% 14px 22px;
}
.field-form--surname {
    padding: 18px 1px 14px 22px;
}
.field-form--patronymics {
    padding: 18px 2% 14px 22px;
    
}


@media(min-width: @desktop-width) {
    .field-form--name {
        padding: 18px 50% 14px 22px;
    }

    .field-form--surname {
        padding: 18px 42% 14px 22px;
    }

    .field-form--patronymics {
        padding: 18px 42.5% 14px 22px;
    }
}
.form-name__checkbox {
    
      

    @media(min-width: @tablet-width) {
       width: 308px;
            background-color: white;
            padding: 0 30px;
            display: inline-block;
      
    }
}
.field__phone {
    padding: 18px 2% 14px 22px;

    @media(min-width:@desktop-width) {
        padding: 18px 62% 14px 22px;
    }
}
.personal__phone::after {
    content: "";
    background-image: url("../images/phone.SVG");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: darken(@formgrey, 10%);
    right: 0;
    bottom: 0;
}

.personal__email::after {
    content: "";
    
    background-image: url("../images/mail.SVG");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: darken(@formgrey, 10%);
    right: 0;
    bottom: 0;
}
.field__email {
    padding: 18px 2% 14px 22px;

    @media(min-width:@desktop-width) {
        padding: 18px 63% 14px 22px;
    }
}
.form-header {
    margin: 36px 8px 16px;
}

.field-group{
    display: flex;
}

.form-subtitle {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
}

input::-webkit-input-placeholder {
    color: @black;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px
}
.grade-list{
    padding: 0;
}
.grade-title{
    padding:  14px 0;
}
.form__name{
    @media(min-width: @tablet-width){
    margin-bottom:20px;
}}
input[type='radio'] {
    position: relative;
    height: 48px;
    width: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background: @formgrey;
    border-radius: 50%;

    &:hover {
        background-color: #E5E5E5;
    }

    &:focus {
        background-color: #D5D5D5;
    }
}
/*
input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: @formgrey;

} */

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: @black;
    transform: translate(-50%, -50%);
    visibility: visible;
}

input[type='radio']:checked:focus::after{
   background-color: dimgrey;
}
.radio__item {
    position: relative;
    bottom: 15px;
    left: 10px;
}

.checkbox-item {
    padding: 15px 0;

    @media(min-width:@desktop-width) {
        
    }
}
input[type='checkbox'] {
    position: relative;
    height: 48px;
    width: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type='checkbox']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background-color: @formgrey;

}

input[type='checkbox']:hover::before{
    background-color: #E5E5E5;
}

input[type='checkbox']:focus::before {
    background-color: #D5D5D5;
}

input[type='checkbox']:checked::after {
    content: "";
    background-image: url(../images/tick.SVG);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 18px;
   color: @black;
    transform: translate(-50%, -50%);
    visibility: visible;
}


.checkbox__name {
    position: relative;
    bottom: 20px;
    left: 10px;
}

textarea::-webkit-input-placeholder {
    color: @black;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px
}

.title__comment{
    padding-top: 20px;
    padding-bottom: 15px;
}
.answer__comment {
    background-color: @formgrey;
    border: none;
    width: 279px;
    height: 167px;
    padding: 20px;
    box-sizing: border-box;
    resize: none;

    @media(min-width: @tablet-width) {
        width: 100%;
        height: 160px;
    }

    @media(min-width: @desktop-width) {
        width: 100%;
    }
}
.answer__comment:focus-visible {
    background: #FFFFFF;
    mix-blend-mode: normal;
    outline: 4px solid #E5E5E5 ;
    outline-offset: -4px;
   
}
.bottom-button {
    @media(min-width: @tablet-width) {
        display: flex;
        justify-content: space-around;
    }

    @media(min-width: @desktop-width) {
        margin: 0 auto;
        width: 960px;
        justify-content: space-between;
    }
}

.button-bottom {
    padding: 15px 50px;
    margin: 0 auto;

    @media(min-width: @tablet-width){
        margin: 0;
    }

}

.line-heading {
   position: relative;
    margin:0 auto;
    width: 100%;
    height: 13px;
    border-bottom: 2px solid @formgrey;
    text-align: center;

    @media(max-width: @mobile-width){
        border: none;
       
    }
}
.form__contacts-title {
    padding: 0;
    @media(min-width: @tablet-width){
    background-color: white;
    padding: 0 40px;
    display: inline;
    }
}

.form__checkbox .line-heading {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid @formgrey;
    text-align: center;

}